# dependencies
node_modules/

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo
.env
**/$*.ts

# debug
npm-debug.log*

# client
client/.next/
client/out/
client/api/*
**/*.css.d.ts*

# server
server/index.js*
server/coverage/
server/api/@openapi-*
