.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.title {
  font-size: 80px;
  color: #fff;
  letter-spacing: 0.2em;
}

@media screen and (width <= 800px) {
  .title {
    font-size: 32px;
    text-align: center;
  }
}

.credit {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}
