name: Test

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - uses: actions/cache@v2
        id: root-npm-cache
        with:
          path: 'node_modules'
          key: root-npm-${{ hashFiles('package-lock.json') }}
      - uses: actions/cache@v2
        id: client-npm-cache
        with:
          path: 'client/node_modules'
          key: client-npm-${{ hashFiles('client/package-lock.json') }}
      - uses: actions/cache@v2
        id: server-npm-cache
        with:
          path: 'server/node_modules'
          key: server-npm-${{ hashFiles('server/package-lock.json') }}
      - run: npm ci
        if: steps.root-npm-cache.outputs.cache-hit != 'true'
      - run: npm ci --prefix client
        if: steps.client-npm-cache.outputs.cache-hit != 'true'
      - run: npm ci --prefix server
        if: steps.server-npm-cache.outputs.cache-hit != 'true'
      - run: npm run generate
      - run: npm run lint
      - run: npm run typecheck
      - run: cp client/.env.example client/.env
      - run: cp server/.env.example server/.env
      - run: docker compose up -d
      - run: npm test
      - run: npm run build
